* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	display: flex;
	list-style-type: none;
	background-color: black;
	color: #ffffff;
	padding: 16px;
	justify-content: space-around;
	font-size: 25px;
	letter-spacing: 6px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media (max-width: 768px) {
	ul {
		background-color: gray;
		flex-direction: column;
		align-items: center;
	}
	li {
		padding: 15px;
	}
}
