.box {
	height: 200px;
	width: 200px;
	position: relative;
}

.box1 {
	background-color: blue;
	border: 2px solid black;
	left: 100px;
	z-index: 1;
}

.box2 {
	background-color: yellow;
	border: 2px solid black;
	left: 150px;
	top: -50px;
	z-index: 2;
}

.box3 {
	background-color: red;
	border: 2px solid black;
	left: 200px;
	top: -100px;
	z-index: 3;
}
