* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.box {
	height: 100px;
	max-width: 100vw;
	background-color: wheat;
	text-align: center;
	padding: 30px 8px 8px 8px;
	font-size: 30px;
	color: white;
}

.box1,
.box4 {
	background-color: rgb(61, 61, 61);
}

.box2 {
	background-color: brown;
}

.box3 {
	background-color: orange;
}

.box4 {
	margin-top: auto;
}

@media (min-width: 768px) {
	.container {
		flex-direction: row;
		background-color: wheat;
	}

	.box1 {
		height: 100vh;
		width: 10%;
	}

	.main {
		display: flex;
		flex-direction: column;
		width: 80%;
		height: 100vh;
	}

	.box2,
	.box3 {
		height: 50vh;
	}

	.box4 {
		height: 100vh;
		width: 10%;
		margin: 0;
	}
}
