* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.loader {
	height: 50px;
	width: 50px;
	border: 4px solid lightblue;
	border-left: 4px solid blue;
	border-radius: 50%;
	animation: loadingEffect 1s linear infinite;
}

@keyframes loadingEffect {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}
